Q1 - Write a program which takes following two lists as input
A = [“Ali”,”Hamza”,”Usman”]
B = [ [ 23, 29, 32], [ 5.8, 5.9, 6.1] ...]

and gives following output:

Ali is 23 years old and his height is 5.8ft
Hamza is 29 years old and his height is 5.9ft.

Note : list “A” contains names of person whereas list “B” contains age and height of persons respectively.

In [1]:
A = ["Ali","Hamza","Usman"]
B = [ [ 23, 29, 32], [ 5.8, 5.9, 6.1], ...]

def print_lists(A, B):
    age = B[0]
    height = B[1]
    for name, age_, height_ in zip(A, age, height):
        print(f"{name} is {age_} yearss old and his height is {height_} ft")
print_lists(A, B)

Ali is 23 yearss old and his height is 5.8 ft
Hamza is 29 yearss old and his height is 5.9 ft
Usman is 32 yearss old and his height is 6.1 ft

Q2- List a contains 100 words, many of them are duplicate, write a two line code which removes duplicates preserving the order of list.

In [2]:
import random
randstr = [str(random.randint(0,50)) for _ in range(100)]

randstr_nodup = []
[randstr_nodup.append(x) for x in randstr if x not in randstr_nodup]
randstr_nodup

['35',
 '43',
 '32',
 '2',
 '49',
 '48',
 '30',
 '37',
 '31',
 '10',
 '6',
 '41',
 '25',
 '5',
 '14',
 '3',
 '26',
 '8',
 '28',
 '39',
 '27',
 '9',
 '17',
 '38',
 '42',
 '34',
 '19',
 '22',
 '45',
 '7',
 '46',
 '50',
 '23',
 '24',
 '40',
 '21',
 '1',
 '47',
 '12',
 '15',
 '18',
 '36',
 '33',
 '16',
 '29',
 '11',
 '13']

Q3- Assuming that we have some email addresses in the "username@companyname.com" format, please write program that;

•	Print the “user name” of a given email address. 
•	Prints the “companyname” of a given email address

In [3]:
def print_username_address(email):
    username, fulldomain = email.split("@")
    companyname = fulldomain.split(".")[0]
    print (f"Username : {username} \nCompany name : {companyname} ")
print_username_address("xxxxx@coxoxoxoname.com")

Username : xxxxx
Company name : coxoxoxoname

Q4 - Given two given lists [1,3,6,78,35,55] and [12,24,35,55,88,78,155], write a program to make a list whose elements are intersection of the above given lists.

In [4]:
A = [1,3,6,78,35,55] 
B = [12,24,35,55,88,78,155]

intersection = [x for x in A if x in B]
intersection

[78, 35, 55]

Q5- Write a recursive function which calculates 1+2+3+...+10

	e.g. sum_recursive (start = 1 , end = 10)
	       output = 55

In [5]:
def sum_recursive (start=1, end=10):
    if start <= end:
        return start + sum_recursive(start=start+1, end=end)
    elif start > end:
        return 0
    
sum_recursive (start=1, end=10)

55